<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <div id="react-entry"></div>
      <script src="/javascripts/bundle.js" defer></script>
  </body>
</html>
